/* ==== Variables ==== */

:root {
  --color-dark: #494045;
  --color-brown: #8b5c38;
  --color-light: #edecec;
}

/* Custom reset */

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Fonts */

@font-face {
  font-family: "Athene_voyage";
  src: url(../font/Athene\ Voyage.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../font/Lora-Regular.ttf);
}

@font-face {
  font-family: "Plus_Jakarta";
  src: url(../font/PlusJakarta.ttf);
}
