#boutique-hero {
  position: relative;
  background: url("../images/catalog-background.jpeg") no-repeat center
    center/cover;
  padding: 0 2rem;
  height: 40vh;
}

#boutique-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#boutique-hero h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
}

#boutique h2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

#boutique p {
  margin: 1rem 0;
  text-align: justify;
}

#boutique .container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
