#boutique h1 {
    padding: 4.5rem;
    background-image: url(../images/coffees/256505890.png);
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

#boutique h2{
    margin-bottom: 2rem;
    text-align: center;
}

#boutique p {
    margin: 1rem 0;
    text-align: justify;
}

#boutique .container{
    display: flex;
    align-items: center;
    gap:2rem;
}