#boutique-hero {
  position: relative;
  background: url("../images/catalog-background.jpeg") no-repeat center
    center/cover;
  padding: 0 2rem;
  height: 40vh;
}

#boutique-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#boutique-hero h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
}

/* ======== Boutique Section ======== */

#boutique {
  padding: 0 6rem 4rem 6rem;
}

#boutique h2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

#boutique p {
  margin: 0.5rem 0;
  text-align: justify;
}

#boutique .container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* ========  Boutique bloc 1 ======== */
.ambiance-section {
  padding: 0 4rem;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.ambiance-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .ambiance-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-wrapper {
    flex: 1.2;
  }

  .text-wrapper {
    flex: 1.8;
    padding-left: 2rem;
  }
}

/* ========  Boutique bloc 2 ======== */
#bloc-2 {
  padding: 0 4rem;
}
