header {
  position: relative;
  z-index: 2;
}

#catalog-hero {
  position: relative;
  background: url("../images/catalog-background.jpeg") no-repeat center
    center/cover;
  padding: 0 2rem;
  height: 40vh;
}

#catalog-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#catalog-hero h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
}

#articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 5rem 0;
}

#catalog article {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: #f2eae2;
  border: 1px solid #c5a782;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#catalog article img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 6px;
}

#catalog article div {
  padding-top: 1rem;
}

#catalog article h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-transform: none;
  font-weight: 600;
  text-align: left;
}

#catalog .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#catalog .price {
  font-weight: bold;
}

#catalog .button-outline {
  padding: 0.4rem 0.8rem;
  color: #fff;
  background-color: #592113;
  font-size: 0.9rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

#catalog .button-outline:hover {
  background-color: #fff;
  border: 1px solid #592113;
  color: #592113;
}
