/* === Titles === */
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Lora";
  font-weight: lighter;
  margin-top: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Lora";
  font-weight: lighter;
}

/* === Footer === */

footer {
  height: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #121212;
  color: #ffff;
}

footer p {
  margin: auto 0;
  text-align: center;
}
