#contact-hero {
  position: relative;
  background: url("../images/catalog-background.jpeg") no-repeat center
    center/cover;
  padding: 0 2rem;
  height: 40vh;
}

#contact-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#contact-hero h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
}

#contact {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

#contact form {
  width: 670px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 30px;
  gap: 15px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form input,
#contact form textarea {
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #000;
}

#contact form textarea {
  min-height: 120px;
  resize: vertical;
  padding-top: 10px;
}

::placeholder {
  color: #302f2f;
}

#contact button {
  color: #fff;
  background-color: #be9c79;
  padding: 19px 35px;
  letter-spacing: 0.15em;
  font-size: 12px;
  transition: 0.3s all ease-in-out;
}

#contact button:hover {
  color: #fff;
  background-color: #5c5c5c;
}
