#error-hero {
  position: relative;
  background: url("../images/catalog-background.jpeg") no-repeat center
    center/cover;
  padding: 0 2rem;
  height: 40vh;
}

#error-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#error-hero h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
}

#error-hero p {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 1.2rem;
  padding-top: 1rem;
  color: #fff;
}

#error {
  align-content: center;
  text-align: center;
  margin: 0 auto;
  height: 40vh;
}

#error p {
  font-size: 1.2rem;
  color: #333;
}

#error a {
  color: #6e3101;
  text-decoration: underline;
}

#error a:hover {
  color: #8b5c38;
}
