#product-hero {
  position: relative;
  background: url("../images/catalog-background.jpeg") no-repeat center
    center/cover;
  padding: 0 2rem;
  height: 40vh;
}

#product-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#product-hero h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
}

#product {
  padding: 4rem 0;
}

.product-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  background: rgb(221, 212, 206);
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  max-width: 1100px;
  margin: 0 auto;
}

.product-image img {
  width: 300px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product-details {
  max-width: 600px;
}

.product-details h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.product-description {
  font-size: 1rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.product-reference,
.product-origin,
.product-price,
.product-feature,
.product-stock {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #000;
}

.product-reference {
  font-style: italic;
  color: #575555;
}

.product-price strong {
  color: #b14d00;
}

.stock-yes {
  color: green;
  font-weight: bold;
}

.stock-no {
  color: red;
  font-weight: bold;
}

#map {
  margin-top: 2rem;
  height: 200px;
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-image img {
    width: 100%;
  }

  .product-details {
    max-width: 90%;
  }
}
