#product h1 {
  padding: 4.5rem;
  background-image: url(../images/coffees/256505890.png);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.product-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  background: rgb(221, 212, 206);
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  max-width: 1100px;
  margin: 0 auto;
}

.product-image img {
  width: 300px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product-details {
  max-width: 600px;
}

.product-details h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.product-description {
  font-size: 1rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.product-reference,
.product-origin,
.product-price,
.product-feature,
.product-stock {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #000;
}

.product-reference {
  font-style: italic;
  color: #575555;
}

.product-price strong {
  color: #b14d00;
}

.stock-yes {
  color: green;
  font-weight: bold;
}

.stock-no {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-image img {
    width: 100%;
  }

  .product-details {
    max-width: 90%;
  }
}
