<div id="error-hero">
  <%- include('partials/header') %>
  <h1>Oups !</h1>
  <p>La page que vous recherchez semble introuvable.</p>
</div>

<main>
  <section id="error">
    <p>
      Il semble que vous soyez perdu. Pas de panique, vous pouvez retourner à
      <a href="/">l'accueil</a> ou explorer notre
      <a href="/catalog">catalogue</a>.
    </p>
  </section>
</main>

<%- include('partials/footer') %>
