<%- include('partials/header') %>

<main>
  <section id="about">
    <div>
      <h1>Erreur</h1>
      <p>La page que vous demandez n'existe pas.</p>
    </div>
    <img
      src="images/about.jpg"
      alt="Selection de nos meilleurs cafés oCoffee"
    />
  </section>
</main>

<%- include('partials/footer') %>
